// Define variables for your color scheme

// For example:
$red: #e4381C;
$orange: #e16521;
$black-custom: #151515;

$light-gray: #171717;
$light-gray: #F4F4F4;

$blue: #167FFB;
$yellow: #FFC65A;
$green: #1EDD88;


$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;
