<div class="sidebar">
    <ul class="side_links">
        <li class="sidebar_link">
            <a href="#">Home</a>
        </li>
        <li id="form-menu" class="sidebar_link">
            <p id="search" href="#">Suplementos</p>
            <div class="submenu">
                <%= render "shared/search_form" %>
            </div>
        </li>
    </ul>   
    <div class="brand">
        <%= image_tag "logo-white.png", class: 'logo' %>
        <p class="copyrights">
            Copyright ©2020 All rights reserved
        </p>
    </div> 
</div>

<%= javascript_tag do %>
    const search = document.querySelector('#search');
    const formMenu = document.querySelector('#form-menu');
    search.addEventListener('click', () => {
        console.log('oi');
        formMenu.classList.toggle('active');
    })

<% end %>