.grids {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-gap: 1rem;
    padding: 0% 3%;
  }
  
  
  @media (max-width: $bp-large) {
    .grids {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    }
  }
  @media (max-width: $bp-medium) {
    .grids {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    }
  }
  @media (min-width: 100px) and (max-width: $bp-small) {
    .grids {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }
  }
  
  