// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "grid";
@import "suple_card";
@import "pagination";
@import "custom_btns";
@import "sidebar";
@import "login";
@import "posts_grid";

html {
  // padding and border counting as width
  box-sizing: border-box;
  // making easier to work with rems, 1 rem now is equal to 10px on font sizes
  font-size: 62.5%; // 1rem = 10px, 10px/16px - browser default
  @media screen and (max-width: $bp-large) {
    font-size: 50%; // changes the pattern rem to 8px
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-color: #faf9f9;
  min-height: 100vh;
}

.app_container {
  display: flex;
  .app_content {
    background-color: $color-grey-light-1;
    margin-left: auto;
    width: 80%;
  }
}

@media screen and (max-width: $bp-medium) {
  .app_container {
    flex-direction: column;
    .app_content {
      margin-left: 0;
      width: 100%;
    }
  }
}
