.navbar-sw {
  display: flex;  
  align-items: center;
  justify-content: space-between;
  background: $black-custom;
  text-transform: uppercase;
  a.nav-link {
    font-family: 'Oswald';
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    text-decoration: none ;
  }
  .navbar-brand img {
    width: 40px;
  }
}

.navbar-sw .navbar-collapse {
  flex-grow: 0;
}


