.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: $black-custom;
  padding: 1rem 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 18%;
  flex: 0 0 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  ul.side_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2rem 0 0 0;
    .sidebar_link {
      list-style: none;
      a,
      p {
        cursor: pointer;
        color: #ffffff;
        text-decoration: none;
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: 500;
        font-family: "Oswald", sans-serif;
        -webkit-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
        text-align: center;
        margin: 0;
      }
      .submenu {
        overflow: hidden;
        max-height: 0;
        -webkit-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
      }
      &.active {
        p {
          color: $orange;
        }
        .submenu {
          display: block;
          max-height: 35rem;
        }
        .search {
          opacity: 1;
        }
      }
    }
  }
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  .logo {
    width: 10rem;
  }
  p.copyrights {
    margin-top: 3px;
    font-size: 1rem;
    color: white;
  }
}

@media (max-width: $bp-medium) {
  .sidebar {
    position: relative;
    padding: 0;
    .brand {
      display: none;
    }
  }
}

///// SEARCH

.search {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  height: 70vh;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  form {
    margin: auto;
    > * {
      overflow: hidden;
    }
    height: initial;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: 1s all linear;
    -o-transition: 1s all linear;
    transition: 1s all linear;
    width: 80%;
    height: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .query {
      font-family: inherit;
      font-size: 1.3rem;
      min-width: 20rem;
      max-width: 25rem;
      padding: 0.8rem 1rem;
      border: 1px solid #e3e3e3;
      border-radius: 2px;
      color: $color-grey-dark-2;
      height: auto;
      line-height: normal;
      -webkit-transition: color 1s ease-in-out, border-color 1s ease-in-out,
        background-color 1s ease-in-out;
      -o-transition: color 1s ease-in-out, border-color 1s ease-in-out,
        background-color 1s ease-in-out;
      transition: color 1s ease-in-out, border-color 1s ease-in-out,
        background-color 1s ease-in-out;
      -webkit-box-shadow: none;
      box-shadow: none;
      &:focus {
        border: 1px solid $primary;
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: 0 !important;
        color: #2c2c2c;
      }
    }
  }
  a {
    &:hover {
      text-decoration: none !important;
    }
  }
}

@media (max-width: 720px) {
  form {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

// SELECT2 STYLES

.select2-container {
  min-width: 10rem;
  width: 160px;
  font-size: 1.3rem;
  border-bottom: 1px $orange solid;
  span.select2-selection--multiple {
    border: none !important;
    outline: transparent;
    border-radius: 0;
    background: transparent;
  }
  .select2-selection__choice {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from($orange),
      to($primary)
    );
    background: -o-linear-gradient(left, $orange, $primary);
    background: linear-gradient(to right, $orange, $primary);
    font-family: "Oswald";
    color: white;
    font-size: 1.5rem;
    margin: 0.2rem;
    padding: 0 6px 5px 4px !important;
  }
  .select2-results__option {
    font-size: 1.3rem;
    text-transform: capitalize;
    text-align: center;
  }
  .select2-selection__choice__remove {
    margin-top: 2.5px;
  }
}
